-title "Tasks",false
%h1 å•é¡Œ

%table.table.table-hover
  %thead
    %tr
      %th #
      %th Name
      %th Tl
      %th Ml
      - if admin?
        %th
        %th
        %th
  %tbody 
    - @tasks.each do |task|
      %tr
        %td= task.serial
        %td= link_to task.name, task_path(task)
        %td= "#{task.tl} s"
        %td= "#{task.ml} MB"
        - if admin?
          %td= link_to 'Edit', edit_task_path(task)
          %td= link_to 'Inputs Edit', task_inputs_path(task)
          %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
 
- if admin? 
  = link_to 'New Task', new_contest_task_path
