- title "Contests",false
%h1 開催中のコンテスト
%table.table
  %thead
    %tr
      %th Name
      %th Begin
      %th End
      - if admin?
        %th
        %th
  %tbody
    - for contest in @contests
      %tr
        %td= link_to contest.name,contest_tasks_path(contest)
        %td= l contest.begin
        %td= l contest.end
        - if admin?
          %td= link_to "Edit", edit_contest_path(contest)
          %td= link_to "Destroy", contest, :confirm => 'Are you sure?', :method => :delete
- if admin?
  %p= link_to "New Contest", new_contest_path
